

body, html {
    width: 100%;
    height: 100%;
}
body {
    background-color: #dbefff;
    float: left;
    margin-top: 1%;
    margin-bottom: 50px;
  }

.dropdown-item:hover{
    cursor: pointer;
}

.priorityItem{
    padding-top: 20px;
    padding-left: 5%;
}

@media (max-width:480px) {
    h1 {font-size: 2em; 
        padding: 20px 5%;
        width: 90%;}
    h6 {font-size: 0.75em;
        padding: px 5%;
        width: 90%;}
    label {font-size: 0.5em;}
}

@media (max-width:768px) and (min-width:481px) {
    h1 {font-size: 2.7em;padding: 20px 5%;
        width: 90%;}
    h6 {font-size: 0.9em;
        padding-left: 5%;}
    label {font-size: 0.7em;}
}

@media (max-width:1024px) and (min-width:769px) {
    h1 {font-size: 3.1em; padding: 20px 5%;
        width: 90%;}
    h6 {font-size: 1.3em;padding: 7px 5%;
        width: 90%;}
    label {font-size: 1em;}
}

@media (min-width:1025px) {
    h1 {font-size: 3.4em; padding: 20px 5%;
        width: 90%;}
    h6 {font-size: 1.6em;}
    label {font-size: 1.3em;}
}